/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Mobile first based on a screen size of 320px width */

/* BASE STYLINGS */

/* Smooth scrolling for page jumps when clicking nav buttons */

html {
  scroll-behavior: smooth;
}

body {
  width: auto;
  background-color: #234566;
  color: #9CEF88;
  font-size: 16px;
  max-width: 1400px;
}

/* Used to hide elements */

.hide {
  display: none;
}

main {
  padding: 0 20px 0 20px;
}

h1 {
  font-family: 'Lexend Tera', sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: 'Lekton', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-family: 'Lekton', sans-serif;
  font-size: 1.125rem;
}

p {
  font-family: 'Lekton', sans-serif;
  font-size: .875rem;
  width: 100%;
}

a {
  color: #9CEF88;
  font-family: 'Lekton', sans-serif;
  text-decoration: none;
}

img {
  max-height: 300px;
  max-width: 400px;
}


li {
  font-family: 'Lekton', sans-serif;
}

/* Header Stylings */

header {
  margin: 30px 0 60px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.ham-box {
  flex-basis: 25%;
  text-align: end;
  align-self: center;
  margin-right: 15px;
}

#ham-menu {
  font-size: 1.25rem;
}

/* 
  X Mark for the Mobile navigation hamburger menu, 
  appears when hamburger is clicked and hidden when hamburger is being displayed 
*/

.fa-xmark {
  visibility: visible;
}

header .title {
  flex-basis: 66%;
  padding-bottom: 10px;
  padding-left: 10px;
}

header #page-title {
  font-family: 'Lexend Tera', sans-serif;
  font-size: 24px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}


header .header-divider {
  border: 1px solid #BEE4F4;
  width: 100%;
}

header nav {
  align-items: flex-end;
}


header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}


header nav li {
  list-style: none;
  padding: 0 10px 0 10px;
}

/*  Hero Section Stylings  */

.hero-section {
  padding-bottom: 30px;
}

.hero-section h3 {
  margin-bottom: 5px;
}

.hero-section h1 {
  color: #BEE4F4;
  margin: 5px 0 10px 0;
}

.hero-section p {
  padding: 0;
  margin-right: 0;
  width: 100%;
}

.hero-section span {
  font-weight: 700;
  font-size: 1rem;
}

#hero-image {
  display: flex;
  justify-content: center;
}

.hero-section img {
  height: 200px;
  width: 200px;
  border-radius: 150px;
  padding: 10px 0 0 10px;
}

/* About Section Stylings */

.about-section {
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.about-section h2 {
  color: #BEE4F4;
}

.about-text {
  padding: 0 0 5px 0;
}

.social-impact {
  color: #BEE4F4;
}

/*
Hover effects for link to Social Impact portfolio
*/

.social-impact:hover {
  border-bottom: 1px solid #BEE4F4;
}

.skills-n-tools {
  padding-bottom: 30px;
}

#skills-title {
  color: #E8EFF2;
}

.skills-list {
  display: flex;
  flex-flow: column;
  padding-left: 30px;
}

.tools ul {
  padding-left: 30px;
}

/* Project Section Stylings */

.projects-section {
  margin: 40px 0 60px 0;
}

.projects-section h2 {
  color: #BEE4F4;
  margin-bottom: 20px;
}

.project-card {
  background-color: #08585A;
  box-shadow: 3px 3px #BEE4F4;
  border-left: 1px solid #BEE4F4;
  border-top: 1px solid #BEE4F4;
  border-radius: 15px;
  color: #B8FFF8;
  display: flex;
  flex-flow: column;
  margin: 0 0 40px 0;
  padding: 15px;
}

.project-card figure {
  text-align: center;
  margin: 16px 0 16px 0;
}

.project-card img {
  border: 3px solid #BEE4F4;
  width: 90%;
  max-width: 225px;
}

.project-card h3,
h4,
p {
  padding: 0 10px 0 18px;
  width: 90%;
}

.project-card ul {
  margin-bottom: 20px;
}

.project-button {
  border: 2px solid #BEE4F4;
  border-radius: 10px;
  color: #BEE4F4;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  align-self: center;
  width: 45%;

}

/* Contact Section Stylings */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 80px 0 60px 0;
}

#contact h2 {
  flex-basis: 80%;
  text-align: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#contact fieldset {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

label {
  width: 82%;
}

input,
textarea {
  color: #234566;
  border: 1px solid #BEE4F4;
  border-radius: 5px;
}

#name,
#email,
#message {
  margin: 5px 0 15px 0;
  width: 80%;
}

#contact-submit {
  background-color: #234566;
  border: 1px solid #9CEF88;
  border-radius: 10px;
  color: #9CEF88;
  font-weight: 700;
  padding: 10px;
  margin-top: 10px;
  width: 29%;
}


/* Social Icons */

.social-section {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-bottom: 10px;
  border-bottom: 1px solid #BEE4F4;
}

#social-title {
  text-align: center;
  width: 100%;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  font-size: 1.5rem;
  padding: 0;
  margin: 10px 0 10px 0;
}


#codesandbox-logo {
  height: 40px;
  width: 40px;
}


/* Footer */

footer p {
  text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Tablet Styles */

@media only screen and (min-width: 768px) {

  /* body */

  body {
    padding: 30px;
  }

  /* Header */

  header {
    justify-content: space-between;
    flex-flow: row nowrap;
    margin: 30px 0 80px 0;
  }

  header .title {
    flex-basis: 50%;
    padding-left: 0;
  }

  header #page-title {
    text-align: left;
  }

  header .header-divider {
    border: hidden;
    flex-basis: 0;
  }

  .ham-box {
    display: none;
  }

  .navmenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  header nav ul {
    padding-top: 10px;
  }

  /*
  Hover effects for nav menu list items
*/

  .nav-item a:hover {
    border-bottom: 2px solid #BEE4F4;
    padding-bottom: 5px;
  }

  /* Main */

  main {
    padding: 0;
  }

  /* Hero */

  .hero-section {
    display: flex;
    margin-bottom: 40px;
  }

  #hero-text {
    width: 65%;
  }

  #hero-image {
    height: 100%;
    flex-basis: 50%;
  }

  .hero-section h3 {
    margin-bottom: 15px;
  }

  .hero-section h1 {
    margin: 5px 0 20px 0;
  }

  /* About */

  .about-section {
    margin: 40px 0 60px 0;
    padding-bottom: 80px;
  }

  .skills-n-tools {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
  }

  .skills-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    padding-bottom: 40px;
  }


  .skills-list li {
    padding: 0 10px 0 10px;
    margin: 0 5px 0 5px;
    width: 40%;
  }


  /* Projects */

  .projects-section {
    margin-bottom: 40px;
  }

  .projects-section h2 {
    margin-bottom: 80px;
    text-align: center;
  }

  .project-cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .project-card {
    align-self: stretch;
    flex-basis: 35%;
    margin: 20px;
  }

  /*
  Hover effects for project cards
*/

  .project-card:hover {
    box-shadow: 8px 8px #BEE4F4;
    border: 0.25px solid #BEE4F4;
  }

  .project-card figure {
    padding-top: 10px;
  }

  /*
  Hover effects for project images
*/

  .project-image:hover {
    border: 3px solid #234566;
  }

  /*
  Hover effects for project buttons
*/

  .project-button:hover {
    background-color: #FF7C09;
    color: #116568;
  }

  /* Contact */

  #contact h2 {
    flex-basis: 85%;
  }

  #contact-submit {
    padding: 10px;
    width: 15%;
    text-align: center;
  }

  /*
  Hover effects for contact me button
*/

  #contact-submit:hover {
    background-color: #FF7C09;
    color: #234566;
  }

  /* Social */

  .social-section {
    justify-content: center;
    margin-bottom: 30px;
  }

  .social-icon {
    flex-basis: 15%;
    margin-bottom: 20px;
  }

  /*
  Hover effects for social media icons
*/

  .social-icon:hover {
    transform: scale(1.15);
  }

  /* Footer */

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer p {
    flex-basis: 60%;
    text-align: center;
    padding-left: 25px;
  }

}


/* Laptop Styles */
@media only screen and (min-width: 1024px) {


  /* Header */


  header .title {
    flex-basis: 60%;
    padding-left: 0;
  }

  header nav {
    flex-basis: 65%;
  }

  /* Main */


  .main-content {
    margin: 0 40px;
  }

  .hero-section {
    padding: 40px 0 80px 0;
  }

  #hero-image {
    flex-basis: 40%;
  }

  /* About */

  .about-section {
    margin: 20px 0 80px 0;
  }

  .about-text {
    margin-bottom: 40px;
  }

  /* Project */

  .projects-section {
    margin: 10px 0 80px 0;
  }

  .project-card {
    flex-basis: 30%;
    margin: 15px 30px;
    padding: 18px;
  }

  /* Contact */

  #contact {
    margin: 40px 0 80px 0;
  }

  #contact h2 {
    flex-basis: 90%;
    margin-bottom: 50px;
  }

  #contact-submit {
    text-align: center;
    padding: 15px;
    width: 10%;
  }

  /* Footer */

  footer {
    margin: 20px 0 30px 0;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 1200px) {


  /* BODY */

  body {
    padding: 40px;
  }

  /* Header */

  header {
    margin: 30px 0 80px 0;
  }

  header .title {
    margin-left: 0;
  }

  header #page-title {
    text-align: left;
  }

  .header-divider {
    flex-basis: 30%;
  }

  header nav {
    flex-basis: 30%;
    padding-right: 0;
  }

  /* Main */

  main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
  }

  .main-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 40px;
  }

  /* Hero */

  .hero-section {
    margin: 40px 0 140px 0;
    padding: 0;
  }

  #hero-text {
    flex-basis: 60%;
  }

  #hero-image {
    height: 100%;
    flex-basis: 40%;
  }

  .hero-section h1 {
    font-size: 3.25rem;
  }

  .hero-section p {
    font-size: 1.25rem;
  }

  .hero-section span {
    font-size: 1.5rem;
  }

  .hero-section img {
    height: 300px;
    width: 290px;
  }

  /* About */

  .about-section {
    margin: 140px 0 140px 0;
  }

  .about-text {
    padding: 0 0 30px 0;
  }

  .about-text p {
    font-size: 1rem;
  }

  /* Projects */

  .projects-section {
    margin: 140px 0 40px 0;
  }

  .projects-section h2 {
    text-align: center;
    margin: 0 0 80px 0;
  }


  .project-card {
    flex-basis: 25%;
    padding: 12px 12px 20px 12px;
  }

  .project-card img {
    max-width: 250px;
  }

  .project-card ul {
    margin-bottom: 35px;
  }

  /* Contact */

  #contact {
    margin: 120px 0 160px 0;
  }

  #contact h2 {
    margin-bottom: 70px;
  }

  #contact-submit {
    width: 80px;
  }

  /* Social */

  .social-section {
    width: 100%;
  }

  #social-title {
    margin-bottom: 40px;
  }

  /* Footer */

  footer {
    width: 100%;
    justify-content: space-evenly;
    margin: 40px 0 100px 0;
  }

}

/* Example media queries */
/* @media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */


/*
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}